@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f9fafb;
}

button,
a {
  cursor: pointer;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}